body,html {
			height: 100%;
}

body {
	background-image: url('../assets/space.jpg');
	min-height: 100vh;
	background-size: cover;
	background-attachment: fixed;
		
}

.name-prompt{
	position: absolute;
	width: 300px;
	background-color: rgb(44,62,80);
	z-index: 2;
	padding: 10px;
	border: 3px solid black;
	border-radius: 8px;
}

.fade{
	opacity: .3;
}

.ship-selection{
	display: inline-block;
	width: 350px;
	padding: 0;
	list-style-type: none;
	margin: 10px auto 0 auto;
}


.ship-select label{
	display: inline-block;
	margin: 10px 0;
	width: 100%;
	text-align: center;
}

.ship-selection li{
	display: inline-block;
	float: left;
	width: 20%;
	text-align: center;
	cursor: pointer;
	border: 2px solid rgb(44,62,80);
	padding: 10px 0;
}

.ship-selection li.selected{
	background: #17202A;
	/*border: 2px solid #212F3D;*/
	-webkit-border-radius: 5px;
	   -moz-border-radius: 5px;
		 -o-border-radius: 5px;
			border-radius: 5px;
	border-radius: 5px;
}


#player-name {
	background: #17202A;
	color: white;	
	margin: 10px;
}

#play {
	background: #DF210C;

	color: white;

	font: 25px bold sans-serif, arial;

	border-radius: 8px;
}

#play:hover {
	background: #641E16; 
}

canvas {
	border: 1px solid #404040;
}
